.idea/*

ParaTemp.iml

# ignore compiled python files
*.pyc

# ignore MDAnalysis xtc-reading files
/tests/test-data/*.npz

# ignore cache folder (pytest?)
/.cache/

# ignore ipython checkpoint folder
/.ipynb_checkpoints/

/.coverage
