.idea/*

ParaTemp.iml

# ignore compiled python files
*.pyc

# ignore cache folder (pytest?)
/.cache/
/.pytest_cache/

# ignore ipython checkpoint folder
/.ipynb_checkpoints/

/.coverage

# ignore egg-info
ParaTemp.egg-info

# Ignore mac trash folder
.DS_Store

